## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PHPDoc files
*.ini

## Composer
composer.lock
vendor

## Temp fix until I clean test logic up
tests/TwigBridgeTests/Console/views/
