## MAC OS
.DS_Store

## EMACS
*~
\#*
.\#*

## VIM
*.swp

# PHPStorm
.idea/

## PHPDoc files
*.ini

## Composer
composer.lock
vendor

## Build
build/

#storage folder for twig compilation tests
tests/storage

# phpunit
/.phpunit.result.cache
