language: php

php:
  - 7.2
  - 7.3
  - hhvm

matrix:
  fast_finish: true
  allow_failures:
    - php: hhvm

before_script:
  - composer self-update
  - composer install --no-interaction --prefer-source

script:
  - ./vendor/bin/phpunit --configuration phpunit.xml
  - ./vendor/bin/phpcs --standard=PSR2 -p --ignore=./tests/storage/* --report=full --report-checkstyle=build/logs/checkstyle.xml src/ tests/

after_script:
  - ./vendor/bin/coveralls -v
