language: php

php:
    - 5.3
    - 5.4
    - 5.5

before_script:
    - curl -s https://getcomposer.org/installer | php
    - php ./composer.phar install --dev --prefer-source

script: phpunit --configuration phpunit.xml.dist

notifications:
    email: false
    campfire:
        on_success: always
        on_failure: always
        rooms:
            - secure: "s+wHo6NclCb/5bIDaVZ7hXTJMV7ocdktcdOResKqa7VdeVbrVX5+6Nyr087K\ngAqRlk0BZj7waSGw8Em+YCDtDGrDpfLOrwqf9o5mc0gnkQ77T4WaDoaaRCcG\nIHhXq3ztGNiIzIIJyI7Io2+o44jRlSdhxcgKfhrUz6ACX+sc2gQ="